.login-header {
    display: flex;
    background-color: #282c34;
    min-height: 80px;
    align-items: center
}
.login-header img{
    width: 40px;
    height: 40px;
    margin: 0 30px 0 50px
}
.login-header h1 {
    color:#fff;
    font-size: 30px;
    margin-bottom: 0;
}

/* login form */
section.login-form{
    width: 400px;
    border: 1px solid #282c34;
    border-radius: 2px;
    margin: 100px auto;
    padding: 20px
}

.login-form h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px
}
.login-form button{
    width: 100%
}